/* Mini reset */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: @font-family-secondary;
  font-weight: normal;
  margin-bottom: 2*@unit;
}
ul {
  list-style: none;
}
button, input, select, textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
  text-align: left;
}

body {
  font-family: @font-family-base;
  .font-size(1.6);
  font-weight: normal;
  color: @text-color;
  font-style: normal;
  min-height: 100%;
  overflow-x: hidden!important;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

section {
  @media @tablet {
    padding: 10*@unit 0;
  }
}



.google-map {
  iframe {
    height: 300px;
    @media @tablet {
      height: 400px;
    }

  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  background-color: transparent;
  width: 50px;
  height: 50px;

}

.svg-icon {
  width: 36px;
  height: 36px;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}